extends layout

block content

    //
        Page for the currently logged in user to change their password.
    //

    h1= title

    //
        Form that lets the user change their password. They have to enter their
        old password as well as their new one twice.
    //
    form(action='/changePassword', method='POST')
        table
            tr
                td
                    label Old password
                td
                    input(name='oldPassword', type='password')
            tr
                td
                    label New password
                td
                    input(name='newPassword1', type='password')
            tr
                td
                    label Comfirm new password
                td
                    input(name='newPassword2', type='password')
            tr
                td
                    input(value='Submit', type='submit')
    p
        a(href="/") Home

    script.
        // Script for the score page.

        // If there was an error message from the user's submission, show an
        // alert.
        var submitErrorMessage = "#{submitErrorMessage}";
        if (submitErrorMessage) {
            alert(submitErrorMessage);
        }

        // If there was a success message from the user's submission, show an
        // alert.
        var submitSuccessMessage = "#{submitSuccessMessage}";
        if (submitSuccessMessage) {
            alert(submitSuccessMessage);
        }