extends layout

block content

    //
        Page for the currently logged in user to change their password.
    //

    h1.ui.center.aligned.header= title

    //
        Form that lets the user change their password. They have to enter their
        old password as well as their new one twice.
    //
    form.ui.form(action='/changePassword', method='POST')
        .field
            label Old password
            input(name='oldPassword', type='password')            
        .field
            label New password
            input(name='newPassword1', type='password')
        .field
            label Comfirm new password
            input(name='newPassword2', type='password')
        input.ui.primary.button(value='Change password', type='submit')
    p
        // a.ui.button(href="/") Return to home
    script.
        // Script for the score page.

        // If there was an error message from the user's submission, show an
        // alert.
        var submitErrorMessage = "#{submitErrorMessage}";
        if (submitErrorMessage) {
            alert(submitErrorMessage);
        }

        // If there was a success message from the user's submission, show an
        // alert.
        var submitSuccessMessage = "#{submitSuccessMessage}";
        if (submitSuccessMessage) {
            alert(submitSuccessMessage);
        }