extends layout

block content

    //
        Landing page for the mobile app server. Shows a log in link if the user is
        not logged in, otherwise gives a list of links to the various page options.
    //
    img.ui.centered.medium.image(src="/images/Example_logo.png")
    h1.ui.center.aligned.header Example Compost app website
    p Welcome to the server backend for the compost and circular economy project at [insert school here].
    p If you are a public visitor, a staff member without a user account or a student, you can view some of the information and data relating to the scheme here.
    p If you are an administrator or a staff member with a user account, logging in will allow you to manage the data behind the mobile app companion for the circular economy scheme.
    h3 Menu
    if loggedIn
        p
            a(href="publicInfo") Public information
            |  - Visitors who are not logged in are still able to view house scores and the latest sensor readings. The current view can be checked here.
        p
            a(href="scoreForm") House scores
            |  - Allows you to view and update the current scores for each house.
        p
            a(href="sensorForm") Compost sensors
            |  - (Administrator only) Allows you view the status and latest readings of compost sensors. Sensor entries can also be added, modified or removed here.
        p
            a(href="userForm") Users
            |  - (Administrator only) Allows you to view all user accounts. Users can also be added, modified or removed here.
        p
            a(href="passwordForm") Change password
            |  - Allows you to change your password.
        p
            a(href="logout") Log out
            |  - Logs you out of the website.
    else
        p
            a(href="publicInfo") Public information
            |  - Allows you to view the current house scores and sensor readings.
        p
            a(href="loginForm") Log in
            |  - Logs you into the server and allows you to access staff and administration functions.
    p Some parts of this website, such as form fields will have a <i class="question circle icon"></i>icon. Hovering over it with the mouse will provide additional information.
    //
        If there are any issues with the user's authentication, show them here.
    //

    script.
        // Script for the home page.

        // If there was an error message about the user's session, show an alert.
        var loginErrorMessage = "#{loginErrorMessage}";
        if (loginErrorMessage) {
            alert(loginErrorMessage);
        }