extends layout

block content

    //
        Landing page for the mobile app server. Shows a log in link if the user is
        not logged in, otherwise gives a list of links to the various page options.
    //

    h1= title
    p These web pages will allow you to control some of the aspects of the mobile app companion for the compost and circular economy project at [insert your school here] - Example Compost app.
    if loggedIn
        p
            a(href="scoreForm") House scores
            |  - Where the current scores for each house can be viewed and updated.
        p
            a(href="sensorForm") Compost sensors
            |  - (Administrator only) Where the status and latest data of all sensors can be viewed. Sensor entries can be added, modified or removed here, as well as resetting connections to ThingsBoard.
        p
            a(href="userForm") Users
            |  - (Administrator only) Where all user accounts can be viewed. Users can be added, modified or removed here.
        p
            a(href="passwordForm") Change your password
            |  - Allows you to change your password.
        p
            a(href="logout") Log out
            |  - Logs you out of the server.
    else
        p
            a(href="loginForm") Log in
            |  - Logs you into the server and allows you to access staff and administration functions.
    //
        If there are any issues with the user's authentication, show them here.
    //

    script.
        // Script for the home page.

        // If there was an error message about the user's session, show an alert.
        var loginErrorMessage = "#{loginErrorMessage}";
        if (loginErrorMessage) {
            alert(loginErrorMessage);
        }